/* Welcome to Compass.
/ * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,300);
/* line 5, ../../../../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../home/deepak/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/***** Mixins ******/
/***** Colors *******/
/***** Color-Ends *****/
/***************** SASSY BEGINS ***************/
/* line 52, ../sass/screen.scss */
a {
  text-decoration: none;
  color: white;
}
/* line 55, ../sass/screen.scss */
a:hover {
  text-shadow: 1px 1px 1px #aaa;
}

/* line 58, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 62, ../sass/screen.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}
@media only screen and (max-width: 640px) {
  /* line 62, ../sass/screen.scss */
  body {
    overflow-x: hidden;
  }
}

/* line 68, ../sass/screen.scss */
*:focus {
  outline: 0;
}

/* line 72, ../sass/screen.scss */
::selection {
  background-color: #222;
  color: #fafafa;
}

/* line 77, ../sass/screen.scss */
::-moz-selection {
  background-color: #222;
  color: #fafafa;
}

/***** Container ****/
/* line 84, ../sass/screen.scss */
.container {
  min-height: 595px;
}

/***** Header *****/
/* line 91, ../sass/screen.scss */
.head {
  background: #222;
  width: 100%;
  min-height: 50px;
  top: 0;
  z-index: 1100;
  position: absolute;
  box-shadow: 0px 2px 3px #333;
}
@media only screen and (max-width: 640px) {
  /* line 91, ../sass/screen.scss */
  .head {
    position: absolute;
  }
}

/**** Header End *****/
/* line 105, ../sass/screen.scss */
.navbar {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
/* line 110, ../sass/screen.scss */
.navbar .unlist li {
  float: left;
  width: 18.5%;
  text-align: center;
  line-height: 50px;
  font-size: 1.6rem;
  border-bottom: 2px solid #222;
}
/* line 117, ../sass/screen.scss */
.navbar .unlist li:hover {
  border-bottom: 2px solid #52ADDA;
}
@media only screen and (max-width: 820px) {
  /* line 110, ../sass/screen.scss */
  .navbar .unlist li {
    font-size: 1.3rem;
    width: 33%;
  }
}
@media only screen and (max-width: 640px) {
  /* line 110, ../sass/screen.scss */
  .navbar .unlist li {
    display: none;
  }
}

/* line 125, ../sass/screen.scss */
.bt-menu {
  font-size: 1.6rem;
  line-height: 50px;
  display: none;
  border: none;
}
@media only screen and (max-width: 640px) {
  /* line 125, ../sass/screen.scss */
  .bt-menu {
    display: block;
  }
}

/* line 133, ../sass/screen.scss */
.icons {
  width: 16px;
}

/* line 137, ../sass/screen.scss */
.video-triangle {
  z-index: -1000;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  position: fixed;
}
@media only screen and (max-width: 820px) {
  /* line 137, ../sass/screen.scss */
  .video-triangle {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  /* line 137, ../sass/screen.scss */
  .video-triangle {
    display: none;
  }
}

/***** SLIDES GOES FROM HERE *****/
/**************** SLIDE 1 ******************/
/* line 155, ../sass/screen.scss */
.slide1 {
  height: 100%;
  border-bottom: 1px dashed #222;
}
@media only screen and (max-width: 640px) {
  /* line 155, ../sass/screen.scss */
  .slide1 {
    background-image: url(tasveer/black.jpg);
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 820px) {
  /* line 155, ../sass/screen.scss */
  .slide1 {
    background-image: url(tasveer/black.jpg);
    width: 100%;
    height: 100%;
  }
}
/* line 160, ../sass/screen.scss */
.slide1 .s1sec {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.90;
}
/* line 172, ../sass/screen.scss */
.slide1 .s1div:nth-child(odd) {
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  background: -webkit-linear-gradient(bottom, #40F4AC 0%, #450BB3 100%);
  background: -o-linear-gradient(bottom, #40F4AC 0%, #450BB3 100%);
  background: -moz-linear-gradient(bottom, #40F4AC 0%, #450BB3 100%);
  background: linear-gradient(to bottom, #40f4ac 0%, #450bb3 100%);
  height: 182%;
  width: 58%;
  float: left;
  margin-top: -20%;
  margin-left: -23%;
}
@media only screen and (max-width: 640px) {
  /* line 172, ../sass/screen.scss */
  .slide1 .s1div:nth-child(odd) {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-left: -10%;
  }
}
/* line 186, ../sass/screen.scss */
.slide1 .s1div:nth-child(even) {
  height: 100%;
  width: 39%;
  float: right;
}
/* line 191, ../sass/screen.scss */
.slide1 .s1Heading {
  padding-top: 10rem;
  color: #fafafa;
  text-align: center;
  font-size: 10rem;
}
/* line 197, ../sass/screen.scss */
.slide1 .image {
  float: right;
  width: 50%;
  height: 70%;
  margin-top: 14rem;
  background-image: url(tasveer/Souvenir.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 820px) {
  /* line 197, ../sass/screen.scss */
  .slide1 .image {
    background-size: contain;
    margin-top: 23rem;
  }
}
@media only screen and (max-width: 640px) {
  /* line 197, ../sass/screen.scss */
  .slide1 .image {
    background-size: contain;
    margin-top: 24rem;
  }
}

/*************** SLIDE 1 OVER **************/
/**************** SLIDE 2 ******************/
/* line 213, ../sass/screen.scss */
.slide2 {
  height: 100%;
  border-bottom: 1px dashed #222;
}
/* line 216, ../sass/screen.scss */
.slide2 .s2sec {
  display: block;
  width: auto;
  height: 100%;
  overflow: hidden;
}
/* line 221, ../sass/screen.scss */
.slide2 .s2sec .slide2img {
  max-width: 100%;
  height: auto;
  display: block;
  background: url(tasveer/slide2_2.jpg) no-repeat;
  background-size: cover;
}
/* line 228, ../sass/screen.scss */
.slide2 .s2sec .slide2-description {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 8rem;
  font-size: 70px;
  font-weight: 400;
  color: #0099FF;
  text-shadow: 3px 3px 3px #fafafa;
}
@media only screen and (max-width: 820px) {
  /* line 228, ../sass/screen.scss */
  .slide2 .s2sec .slide2-description {
    padding-top: 9rem;
    font-size: 45px;
  }
}
@media only screen and (max-width: 640px) {
  /* line 228, ../sass/screen.scss */
  .slide2 .s2sec .slide2-description {
    padding-top: 2em;
    font-size: 34px;
  }
}

/************** SLIDE 2 OVER ***************/
/************** SLIDE 3 ***************/
/* line 248, ../sass/screen.scss */
.shrink {
  max-width: 1200px;
  margin: auto;
}

/* line 253, ../sass/screen.scss */
.s_data {
  padding-top: 15px;
}

/* line 257, ../sass/screen.scss */
.content {
  width: 50%;
  float: left;
  margin-left: 10px;
}
@media only screen and (max-width: 640px) {
  /* line 257, ../sass/screen.scss */
  .content {
    width: 90%;
    clear: both;
  }
}

/* line 264, ../sass/screen.scss */
.slide3 {
  height: auto;
  border-bottom: 1px dashed #222;
  font-weight: 400;
}
@media only screen and (max-width: 820px) {
  /* line 264, ../sass/screen.scss */
  .slide3 {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  /* line 264, ../sass/screen.scss */
  .slide3 {
    display: none;
  }
}
/* line 271, ../sass/screen.scss */
.slide3 .slide3heading {
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  color: #0099FF;
  text-shadow: 1.5px 1.5px 1.5px #fafafa;
}
/* line 279, ../sass/screen.scss */
.slide3 .turnpages {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  padding-top: 2rem;
  color: #0099FF;
  text-shadow: 1.5px 1.5px 1.5px #fafafa;
}
/* line 287, ../sass/screen.scss */
.slide3 .magzinetext {
  text-align: left;
  font-size: 4rem;
  font-weight: 400;
  margin: 0 auto;
  color: #fafafa;
  z-index: 2000;
}
/* line 296, ../sass/screen.scss */
.slide3 .magazine {
  float: right;
  display: inline-block;
  height: 500px;
  width: 800px;
  margin: 80px 20rem 10px;
}
@media only screen and (max-width: 820px) {
  /* line 296, ../sass/screen.scss */
  .slide3 .magazine {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  /* line 296, ../sass/screen.scss */
  .slide3 .magazine {
    display: none;
  }
}
/* line 306, ../sass/screen.scss */
.slide3 .magazine .turn-page {
  background-color: #333;
  background-size: 100% 100%;
}

/************** SLIDE 3 OVER ***************/
/************** SLIDE 4  ***************/
/* line 316, ../sass/screen.scss */
.slide4 {
  height: 100%;
}
@media only screen and (max-width: 640px) {
  /* line 316, ../sass/screen.scss */
  .slide4 {
    background-image: url(tasveer/black.jpg);
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 820px) {
  /* line 316, ../sass/screen.scss */
  .slide4 {
    background-image: url(tasveer/black.jpg);
    width: 100%;
    height: auto;
  }
}
/* line 321, ../sass/screen.scss */
.slide4 .teamHeading {
  color: #0099FF;
  text-shadow: 2px 2px 1.5px #fafafa;
  text-align: center;
  font-size: 7rem;
  font-weight: 400;
}
@media only screen and (max-width: 640px) {
  /* line 321, ../sass/screen.scss */
  .slide4 .teamHeading {
    font-size: 5rem;
  }
}
/* line 330, ../sass/screen.scss */
.slide4 .teamline {
  text-align: center;
  color: #0099FF;
  text-shadow: 1px 1px 1px #fafafa;
  font-size: 3.5rem;
}
@media only screen and (max-width: 820px) {
  /* line 330, ../sass/screen.scss */
  .slide4 .teamline {
    font-size: 3rem;
    padding-top: 2rem;
  }
}
@media only screen and (max-width: 640px) {
  /* line 330, ../sass/screen.scss */
  .slide4 .teamline {
    font-size: 2rem;
    padding-top: 0.7rem;
  }
}
/* line 339, ../sass/screen.scss */
.slide4 .team {
  margin: 20px 0 0 0;
  padding: 50px;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}
/* line 348, ../sass/screen.scss */
.slide4 .team:after, .slide4 .teams:before {
  content: '';
  display: table;
}
/* line 353, ../sass/screen.scss */
.slide4 .team:after {
  clear: both;
}
/* line 357, ../sass/screen.scss */
.slide4 .team li {
  width: 240px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}
@media only screen and (max-width: 820px) {
  /* line 357, ../sass/screen.scss */
  .slide4 .team li {
    width: 180px;
    height: 180px;
  }
}
/* line 365, ../sass/screen.scss */
.slide4 .teams {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 374, ../sass/screen.scss */
.slide4 .image1 {
  background-image: url(tasveer/hsrai.jpg);
  background-size: cover;
}
/* line 380, ../sass/screen.scss */
.slide4 .image2 {
  background-image: url(tasveer/dk1.JPG);
  background-size: cover;
}
/* line 385, ../sass/screen.scss */
.slide4 .image3 {
  background-image: url(tasveer/satwant.JPG);
  background-size: cover;
}
/* line 390, ../sass/screen.scss */
.slide4 .description {
  position: absolute;
  background: rgba(63, 147, 147, 0.8);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
}
/* line 402, ../sass/screen.scss */
.slide4 .description h3 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 22px;
  margin: 10px 30px;
  padding: 45px 0 0 0;
  height: 100px;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 640px) {
  /* line 402, ../sass/screen.scss */
  .slide4 .description h3 {
    font-size: 12px;
    padding: 19px 0px 0px;
  }
}
/* line 413, ../sass/screen.scss */
.slide4 .description p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
  -moz-transition: all 1s ease-in-out 0.4s;
  -o-transition: all 1s ease-in-out 0.4s;
  -webkit-transition: all 1s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition: all 1s ease-in-out 0.4s;
}
/* line 424, ../sass/screen.scss */
.slide4 .description p a {
  display: block;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}
/* line 437, ../sass/screen.scss */
.slide4 .description p a:hover {
  color: #fff222;
  color: rgba(255, 242, 34, 0.8);
}
/* line 442, ../sass/screen.scss */
.slide4 .teams:hover {
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* line 446, ../sass/screen.scss */
.slide4 .teams:hover .description {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/* line 451, ../sass/screen.scss */
.slide4 .teams:hover .description p {
  opacity: 1;
}

/************** SLIDE 4 OVER ***********/
/********* Slide 5 **********/
/* line 459, ../sass/screen.scss */
.slide5 {
  height: 100%;
}
/* line 461, ../sass/screen.scss */
.slide5 h3 {
  margin-top: 6rem;
  font-size: 9.5rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #0099FF;
  text-shadow: 4px 4px 4px #fafafa;
}
@media only screen and (max-width: 820px) {
  /* line 461, ../sass/screen.scss */
  .slide5 h3 {
    font-size: 8rem;
    margin-top: 6.5rem;
  }
}
@media only screen and (max-width: 640px) {
  /* line 461, ../sass/screen.scss */
  .slide5 h3 {
    font-size: 5rem;
    margin-top: 5.5rem;
  }
}
/* line 473, ../sass/screen.scss */
.slide5 .picture {
  width: 100%;
  height: 100%;
  background: url(tasveer/gne2.jpg);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-bottom: 1px dashed #222;
}
/* line 482, ../sass/screen.scss */
.slide5 .picture .picture-text {
  padding-top: 110px;
  width: 100%;
  height: 50%;
}
/* line 489, ../sass/screen.scss */
.slide5 footer {
  padding-top: 60px;
  min-height: 100px;
  background: #333;
}
/* line 495, ../sass/screen.scss */
.slide5 .footer-text {
  text-align: center;
  padding: 15px 15px;
  color: #C9C9C9;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

/********* Slide 5 over **********/
